<el-container>
  <el-aside width="250px">
    <div class="fields-list">
      <div class="fields-list-header">&lt;{{labelOfEntity}}&gt;实体字段列表</div>

      <div>
        <el-dropdown @command="handleNewFieldCommand" class="add-field-dropdown" size="mini">
          <span class="el-dropdown-link">
            <i class="el-icon-plus"></i>&nbsp;添加字段<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="BooleanWE">布尔</el-dropdown-item>
            <el-dropdown-item command="IntegerWE">整数</el-dropdown-item>
            <el-dropdown-item command="DecimalWE">精度小数</el-dropdown-item>
            <el-dropdown-item command="PercentWE">百分比</el-dropdown-item>
            <el-dropdown-item command="MoneyWE">金额</el-dropdown-item>
            <el-dropdown-item command="TextWE" divided>文本</el-dropdown-item>
            <!--
            <el-dropdown-item command="EmailWE">邮箱</el-dropdown-item>
            <el-dropdown-item command="UrlWE">网址</el-dropdown-item>
            -->
            <el-dropdown-item command="TextAreaWE">长文本</el-dropdown-item>
            <!--
            <el-dropdown-item command="PasswordWE">密码</el-dropdown-item>
            -->
            <el-dropdown-item command="OptionWE" divided>单选项</el-dropdown-item>
            <el-dropdown-item command="TagWE">多选项</el-dropdown-item>
            <el-dropdown-item command="DateWE" divided>日期</el-dropdown-item>
            <el-dropdown-item command="DateTimeWE">日期/时间</el-dropdown-item>
            <el-dropdown-item command="PictureWE" divided>图片</el-dropdown-item>
            <el-dropdown-item command="FileWE">文件</el-dropdown-item>
            <el-dropdown-item command="ReferenceWE" divided>一对一引用</el-dropdown-item>
            <!--
            <el-dropdown-item command="AnyReferenceWE">一对多引用</el-dropdown-item>
            <el-dropdown-item command="ReferenceListWE">多对多引用</el-dropdown-item>
            -->
          </el-dropdown-menu>
        </el-dropdown>
      </div>

      <draggable :list="slotItems" :group="{name: 'fieldsGroup', pull:'clone'}" :sort="false"
                 :move="checkFieldMove" @start="startDragSlot" @end="endDragSlot" class="slots-drag-area">
        <div class="field-drag-item">拖动添加插槽<i class="el-icon-top-right primary-color"></i></div>
      </draggable>

      <draggable :list="customItems" :group="{name: 'fieldsGroup', pull:'clone'}" :sort="false"
                 :move="checkFieldMove" @start="startDragCustom" @end="endDragCustom" class="slots-drag-area">
        <div class="field-drag-item">拖动添加自定义组件<i class="el-icon-top-right primary-color"></i></div>
      </draggable>

      <draggable :list="fieldItems" :group="{name: 'fieldsGroup', pull:'clone'}" :filter="'.unDraggable'" :sort="false"
                 :move="checkFieldMove" @start="startDrag" @end="endDrag" class="fields-drag-area">
        <div v-for="(fieldItem, fieldIdx) in fieldItems" :key="fieldItem.name"
             :class="{'unDraggable': !!fieldItem.unDraggable || (fieldItem.type === 'PrimaryKey')
                || isUnDraggable(fieldItem.name)}"
             @mouseenter="hoverFieldIdx = fieldIdx" @mouseleave="hoverFieldIdx = -1"
             class="field-drag-item">{{fieldItem.label}}({{fieldItem.name}})
          <i v-show="hoverFieldIdx === fieldIdx" @click="editFieldProps(fieldItem)"
             class="el-icon-edit edit-field-action">编辑</i>
        </div>
      </draggable>

    </div>

  </el-aside>

  <el-container class="layout-container">
    <el-header class="toolbar-panel">
      <div class="header-toolbar">
        <div class="header-toolbar-left">
          <el-button-group>
            <el-button icon="el-icon-folder" size="small" @click="addTab('')">增加页签</el-button>
            <el-button icon="el-icon-circle-plus-outline" size="small" @click="addSection">插入区块</el-button>
            <!--
            <el-button icon="el-icon-s-grid" size="small">插入明细表单</el-button>
            -->
          </el-button-group>
        </div>

        <div class="header-toolbar-right">
          <el-button icon="el-icon-view" size="small" @click="previewLayoutForm">预览</el-button>
          <el-popover placement="bottom" title="提示" width="200" trigger="manual" visible-arrow="true"
                  content="表单已修改，请尽快保存。" v-model="savePopoverVisible">
            <el-button slot="reference" type="primary" icon="el-icon-finished" size="small"
                       @click="saveLayout" style="margin-left: 10px">保存</el-button>
          </el-popover>
        </div>
      </div>
    </el-header>
    <el-main class="layout-main">
      <LayoutWidget :layout="layout" @fieldWrapperDelete="deleteFieldWrapper"></LayoutWidget>
    </el-main>
  </el-container>

  <el-dialog title="预览表单" v-model="showPreviewDialogFlag" v-if="showPreviewDialogFlag" :show-close="true"
             :close-on-click-modal="true" :close-on-press-escape="true" :destroy-on-close="true">
    <FormWidget :entity="entity" :layout="layout" :field-props-map="fieldPropsMap" :form-state="0"></FormWidget>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="showPreviewDialogFlag = false">关 闭</el-button>
    </div>
  </el-dialog>

  <el-dialog :title="'新建字段 / ' + curEditorType" v-model="showNewFieldDialogFlag" v-if="showNewFieldDialogFlag" :show-close="true"
             :close-on-click-modal="false" :close-on-press-escape="false" class="no-padding" width="620px">
    <component :is="curFWEditor" :entity="entity" @fieldSaved="onFieldSaved" @cancelSave="onCancelSave"
              :showingInDialog="true"></component>
  </el-dialog>

  <el-dialog :title="'编辑字段 / ' + curEditorType" v-model="showEditFieldDialogFlag" v-if="showEditFieldDialogFlag"
             :show-close="true" :append-to-body="true" :destroy-on-close="true" :close-on-click-modal="false"
             :close-on-press-escape="false" class="no-padding" width="620px">
    <component :is="curFWEditor" :entity="entity" @fieldSaved="onFieldSaved(true)" @cancelSave="onCancelSave"
               :showingInDialog="true" :field-name="editingFieldName" :field-state="2"></component>
  </el-dialog>

  <el-dialog title="插槽属性设置" v-model="showSlotFieldDialogFlag" v-if="showSlotFieldDialogFlag" :show-close="true"
             :close-on-click-modal="false" :close-on-press-escape="false" class="small-padding" width="620px">
    <el-form :model="slotModel" :rules="slotRules" ref="slotPropsForm" label-position="left"
             label-width="180px" size="mini">
      <el-form-item label="插槽名称" prop="name"> <!-- prop必须跟v-model名称一致！！ -->
        <el-input v-focus v-model="slotModel.name" minlength="2"></el-input>
      </el-form-item>
      <el-form-item label="绑定数据字段(可多选)" prop="fields">
        <el-select multiple filterable default-first-option :popper-append-to-body="false"
                   v-model="slotModel.fields" style="width: 100%">
          <el-option
                  v-for="(fldItem, fiIdx) in fieldItems"
                  :key="fiIdx"
                  :label="fldItem.label"
                  :value="fldItem.name">
          </el-option>
        </el-select>
      </el-form-item>
      <div class="data-bind-hint"><i class="el-icon-bell"></i>提示：如需绑定表单数据，请至少选择一个数据字段！</div>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="saveSlotProps" style="width: 120px">确 定</el-button>
      <el-button @click="cancelSaveSlotProps">取 消</el-button>
    </div>
  </el-dialog>

  <el-dialog title="自定义组件属性设置" v-model="showCustomFieldDialogFlag" v-if="showCustomFieldDialogFlag" :show-close="true"
             :close-on-click-modal="false" :close-on-press-escape="false" class="small-padding" width="620px">
    <el-form :model="customModel" :rules="customRules" ref="customPropsForm" label-position="left"
             label-width="180px" size="mini">
      <el-form-item label="组件标签" prop="label"> <!-- prop必须跟v-model名称一致！！ -->
        <el-input v-focus v-model="customModel.label"></el-input>
      </el-form-item>
      <el-form-item label="组件类型" prop="componentName">
        <el-select filterable default-first-option :popper-append-to-body="false"
                   v-model="customModel.componentName" style="width: 100%">
          <el-option
                  v-for="(ccItem, ccIdx) in customComponents"
                  :key="ccIdx"
                  :label="ccItem.label"
                  :value="ccItem.name">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="组件提示" v-if="!!customModel.componentName && !!getDescriptionOfComponent(customModel.componentName)">
        <el-alert type="success" :closable="false"
                :title="getDescriptionOfComponent(customModel.componentName)"></el-alert>
      </el-form-item>
      <el-form-item label="绑定数据字段(可多选)" prop="fields">
        <el-select multiple filterable default-first-option :popper-append-to-body="false"
                   v-model="customModel.fields" style="width: 100%">
          <el-option
                  v-for="(fldItem, fiIdx) in fieldItems"
                  :key="fiIdx"
                  :label="fldItem.label"
                  :value="fldItem.name">
          </el-option>
        </el-select>
      </el-form-item>
      <div class="data-bind-hint"><i class="el-icon-bell"></i>提示：如需绑定表单数据，请至少选择一个数据字段！</div>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="saveCustomProps" style="width: 120px">确 定</el-button>
      <el-button @click="cancelSaveCustomProps">取 消</el-button>
    </div>
  </el-dialog>

  <el-aside>
    <LayoutSetting :layout="layout"></LayoutSetting>
  </el-aside>
</el-container>

