/* 覆盖element-plus样式 */

:root {
	--el-color-primary: #409eff;
	--el-color-primary-light-1: #53a7ff;
	--el-color-primary-light-2: #66b1ff;
	--el-color-primary-light-3: #79bbff;
	--el-color-primary-light-4: #8cc4ff;
	--el-color-primary-light-5: #9fceff;
	--el-color-primary-light-6: #b2d8ff;
	--el-color-primary-light-7: #c5e1ff;
	--el-color-primary-light-8: #d8ebff;
	--el-color-primary-light-9: #ebf5ff;
	--el-color-primary-dark-1: #398ee5;
	--el-color-primary-dark-2: #337ecc;
	--el-color-primary-dark-3: #2c6eb2;
	--el-color-primary-dark-4: #265e99;
	--el-color-primary-dark-5: #204f7f;
	--el-color-primary-dark-6: #193f66;
	--el-color-primary-dark-7: #132f4c;
	--el-color-primary-dark-8: #0c1f32;
	--el-color-primary-dark-9: #060f19;
}

.el-menu {
	border: none !important;
}
.el-menu .el-menu-item a {
	color: inherit;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.el-form-item-msg {
	font-size: 12px;
	color: #999;
	clear: both;
	width: 100%;
}
.el-container {
	height: 100%;
}
.el-aside {
	border-right: 1px solid var(--el-border-color-light);
}
.el-container + .el-aside {
	border-right: 0;
	border-left: 1px solid var(--el-border-color-light);
}
.el-header {
	background: #fff;
	border-bottom: 1px solid var(--el-border-color-light);
	padding: 13px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.el-header .left-panel {
	display: flex;
	align-items: center;
}
.el-header .right-panel {
	display: flex;
	align-items: center;
}
.el-header .right-panel > * + * {
	margin-left: 10px;
}
.el-footer {
	background: #fff;
	border-top: 1px solid var(--el-border-color-light);
	padding: 13px 15px;
}
.el-main {
	padding: 15px;
}
.el-main.nopadding {
	padding: 0;
	background: #fff;
}
.el-drawer__body {
	overflow: auto;
	padding: 0;
}
.el-popconfirm__main {
	margin: 14px 0;
}
.el-card__header {
	border-bottom: 0;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 20px 0px 20px;
}
.el-dialog__title {
	font-size: 17px;
	font-weight: bold;
}
.el-drawer__header > :first-child {
	font-size: 17px;
	font-weight: bold;
}
.el-tree.menu .el-tree-node__content {
	height: 36px;
}
.el-tree.menu .el-tree-node__content .el-tree-node__label .icon {
	margin-right: 5px;
}
.el-progress__text {
	font-size: 12px !important;
}
.el-progress__text i {
	font-size: 14.4px !important;
}
.el-step.is-horizontal .el-step__line {
	height: 1px;
}
.el-step__title {
	font-size: 14px;
}
.drawerBG {
	background: #f6f8f9;
}
.el-button + .el-dropdown {
	margin-left: 10px;
}
.el-button-group + .el-dropdown {
	margin-left: 10px;
}
.el-button-group + .el-button-group {
	margin-left: 10px;
}
.el-tabs__nav-wrap::after {
	height: 1px;
}
.el-table th.is-sortable {
	transition: 0.1s;
}
.el-table th.is-sortable:hover {
	background: #eee;
}
.el-table .el-table__body-wrapper {
	background: #f6f8f9;
}
.el-col .el-card {
	margin-bottom: 15px;
}
.el-main {
	flex-basis: 100%;
}
.el-main > .scTable .el-table--border::before {
	display: none;
}
.el-main > .scTable .el-table--border::after {
	display: none;
}
.el-main > .scTable .el-table--border .el-table__inner-wrapper::after {
	display: none;
}
.el-main > .scTable .el-table__border-left-patch {
	display: none;
}
.el-main
	> .scTable
	.el-table--border
	.el-table__inner-wrapper
	tr:first-child
	td:first-child {
	border-left: 0;
}
.el-main
	> .scTable
	.el-table--border
	.el-table__inner-wrapper
	tr:first-child
	th:first-child {
	border-left: 0;
}
.el-table.el-table--large {
	font-size: 14px;
}
.el-table.el-table--small {
	font-size: 12px;
}
.el-table {
	font-size: 12px;
}
.el-radio-button__inner {
	font-size: 12px;
}
.el-checkbox-button__inner {
	font-size: 12px;
}
.el-sub-menu .el-icon {
	font-size: 17px;
}
.el-sub-menu .el-sub-menu__icon-arrow {
	font-size: 12px;
}


.aminui-side-split li.active {
	background-color: var(--el-color-primary);
}
.adminui-tags li:hover {
	background-color: var(--el-color-primary-light-5);
    & > a {
        color: #fff !important;
    }
}
.adminui-tags li.active {
	background-color: var(--el-color-primary) !important;
}
.contextmenu li:hover {
	background-color: var(--el-color-primary-light-5) !important;
	color: var(--el-color-primary-light-2) !important;
}
.data-box .item-background {
	background-color: var(--el-color-primary) !important;
}
.layout-setting,
.diy-grid-setting {
	background-color: var(--el-color-primary) !important;
}

/* 全部禁用el-tag动画 */
.el-tag {
	transition: all 0s !important;
}

/* 覆盖tinymce样式 */
.sceditor .tox-tinymce {
	border: 1px solid #dcdfe6;
	border-radius: 0;
}
body .tox-tinymce-aux {
	z-index: 5700;
}

.mlnode-drawer {
	.el-drawer__header {
		margin-bottom: 20px;
	}
	.el-drawer__body {
		padding: 20px;
	}
	.el-drawer__body,
	.el-drawer__footer {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.el-drawer__footer {
		padding-top: 20px;
	}
}
.mlselect-user-tabs {
	.el-tabs__content {
		padding: 0;
	}
}

.is-error {
	.el-input__wrapper {
		box-shadow: 0 0 0 1px red inset;
	}
}

.radio-need-block {
	display: block !important;
	.el-radio {
		display: block !important;
		white-space: normal;
		height: 30px;
		line-height: 30px;
		.el-radio__input {
			position: relative;
			top: -1px;
		}
	}
}

.mldialog {
    padding: 0;
	.el-dialog__header {
		padding: 0;
		margin: 0;
		background-color: var(--el-color-primary);
		height: 60px;
		line-height: 60px;
		box-sizing: border-box;
		padding: 0 20px;
		box-sizing: border-box;
        text-align: left;
		.my-title {
			font-size: 20px;
			color: #fff;
		}
		.close-icon {
			position: relative;
			top: 6px;
			cursor: pointer;
			color: #fff;
			&:hover {
				color: #fafafa;
			}
		}
		.full-screen-icon {
			position: relative;
			top: 6px;
			margin-right: 10px;
			cursor: pointer;
			color: #fff;
			&:hover {
				color: #fafafa;
			}
		}
	}
    .el-dialog__body {
        padding: 20px 20px 15px 20px;
    }
	.el-dialog__footer {
		padding: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		height: 51px;
		line-height: 50px;
		padding-right: 20px;
	}
    &.body-no-padding {
        .el-dialog__body {
			padding: 0;
		}
    }
	&.not-header {
		.el-dialog__header {
			height: 0;
		}
		.el-dialog__body {
			padding-top: 50px;
		}
	}
	&.isFullScreen {
		height: 100vh;
		margin-bottom: 0;
        .el-dialog__body {
            height: calc(100% - 60px);
        }
        &.has-footer {
            .el-dialog__body {
                height: calc(100% - 120px);
            }
        }
		.el-dialog__body {
			.fullScreen-man {
				max-height: 100%;
			}
		}
	}
	div {
		box-sizing: border-box;
	}
}

.ml-field-check-box {
	.el-checkbox {
		align-items: normal;
	}
}

.bw-start-icon,
.bw-end-icon {
	&::after {
		content: "起";
		position: absolute;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: #eeeeee;
		text-align: center;
		line-height: 24px;
		font-size: 12px;
		color: #999;
		right: 5px;
		top: 4px;
	}
}
.bw-end-icon {
	&::after {
		content: "止";
	}
}

.bw-action-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--el-color-primary);
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    right: 5px;
    top: 5px;
    cursor: pointer;
    user-select: none;
}

.ml-number-input {
	.el-input__inner {
		text-align: left;
	}
}

.ml-select-user {
	.el-select__tags-text {
		height: 17px;
		line-height: 19px;
	}
}

.ml-el-table {
	font-size: 14px;
	.highlight {
		color: var(--el-color-primary);
		cursor: pointer;
		&:hover {
			color: var(--el-color-primary-light-5);
		}
	}
}
.ml-delete-btn {
	border-color: #f56c6c !important;
	background: #fafafa !important;
}
.el-select__popper {
	z-index: 6001 !important;
}

.formula-popover {
	padding: 20px 0 !important;
	padding-bottom: 15px !important;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.advfilter-popper {
	z-index: 3001 !important;
}

.ml-drawer {
	* {
		box-sizing: border-box;
	}
	.el-drawer__header {
		padding: 0;
		margin-bottom: 0;
	}
}

.ml-el-select-input {
	.el-input-group__prepend {
		padding: 0;
	}
}

.el-input.no-border {
    .el-input__wrapper {
        box-shadow: none !important;
    }
}

.fields-popover {
	padding: 0 !important;
	.popover-div {
		padding: 10px 0;
		.popover-item {
			height: 26px;
			line-height: 26px;
			padding: 0 10px;
			cursor: pointer;
			&:hover {
				background: #e6e6e6;
			}
			&.is-active {
				color: var(--el-color-primary);
			}
		}
	}
}

.ml-select-popper {
	padding: 5px 0 !important;
}

.el-tree-node__content {
	height: 32px;
	line-height: 32px;
}

.new-message .el-drawer__body {
    padding: 0 !important;
}
.new-message .el-footer {
    padding: 13px 15px;
}

.dock-header-menu {
    .el-menu-item {
        &:hover {
            background-color: var(--el-color-primary-light-1) !important;
        }
        &:focus {
            background-color: transparent !important;
        }
        &.is-active,&.isActive {
            background-color: var(--el-color-primary-light-1) !important;
        }
    }

}

.dock-header-menu .el-menu .el-menu-item.is-active, .dock-header-menu .el-menu .el-sub-menu.is-active>.el-sub-menu__title {
    background-color: var(--el-color-primary-light-1) !important;
}

.dock-header-menu>.el-sub-menu.is-active .el-sub-menu__title {
    background-color: var(--el-color-primary-light-1) !important;
    border-bottom: 0;
}

.dock-header-menu>.el-menu-item.is-active {
    border-bottom: 0;
}