
$--color-primary: #409EFF;

$values: 3, 5, 8, 10, 12, 15, 16, 20, 24,30;
$names: (
    p: padding,
    m: margin,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
);
//遍历生成,比如.pl10{padding-left:10px;}
@each $key, $name in $names {
    @each $num in $values {
        .#{$key}-#{$num} {
            #{$name}: $num * 1px;
        }
    }
}
